footer {
  .wrap-footer-top {
    background-color: $col-brand-3;
    .footer-top {
      height: $footer-top-height;
      display: flex;
      nav {
        margin-top: 50px;
        width: calc(100% / 4);
        height: 100%;
        h5 {
          color: $col-brand-1;
          margin-bottom: 10px;
        }
        ul {
          li {
          padding: 4px 0px;
          list-style: none;
          a {
            text-decoration: none;
            font-size: 12px;
            color: $col-brand-2;
          }

          }
        }
      }
    }
  }
  .wrap-footer-bottom {
    background-color: $col-brand-2;
    .footer-bottom {
      height: $footer-bottom-height;
    }
  }

}
