header {
  background-color: $col-brand-1;
    .header-top {
      height: $header-top-height;
      background-color: $col-brand-1;
      color: $col-brand-3;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .navbar-top {
        @include listInLine;
        margin-right: 20px;
        li {
          padding-left: 30px;
          line-height: 12px;
          a {
            color: $col-brand-6;
            text-decoration: none;
            font-size: 12px;
            line-height: 12px;
            &:hover {
              text-decoration: underline;
              color: $col-brand-5;
            }
          }
          .fas {
            color: $col-ico-btn;
            font-size: 12px;
            line-height: 12px;
            margin-right: 6px;
          }
        }
      }
    }
    .header-bottom{
      display: flex;
      align-items: center;
      height: $header-bottom-height;
      width: 100%;
      background-color: $col-brand-1;
      .wrap-logo {
        width: 90px;
        .img-logo {
          width: 100%;
        }
      }
      .navbar-bottom{
        @include listInLine;
        margin-left: 10px;
        li {
          &:hover {
            background-color: #f1f1f1;
            color: $col-brand-1;
          }
          &:hover a{
            color: $col-brand-1;
          }
          color: $col-brand-5;
          padding: 17px 25px;
          a {
            text-decoration: none;
            font-size: 14px;
            color: $col-brand-5;
            height: 100%;
          }
          .fa-angle-down {
            font-size: 10px;
            color: #989898;
            margin-left: 4px;
          }
        }
      }
    }
}
