.jumbotron {
  height: $jumbo-height;
  // background-image:url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-image: url("../img/jumbo_backdrop.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  .wrap-jumbo {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: $wrap_width;
    height: 100%;
    margin: 0 auto;
    .author-name {
      position: absolute;
      bottom: 20px;
      left: 90px;
      color: $col-brand-5;
      font-size: 10px;
    }
    .col-left {
      width: $jumbo-col-left-w;
      height: 100%;
      color: $col-brand-5;
      padding: 50px 20px 20px 20px;
      h1 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 500;
      }
      &-list {
        @include listInLine;
        flex-direction: column;
        padding-left: 5px;
        margin-bottom: 30px;
        li {
          font-size: 17px;
          font-weight: 500;
          padding: 8px 0px;
          span {
            font-size: 100;
            font-size: 17px;
            color: #989898;
          }
        }
      }
      .btn-download {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 55px;
        background-color: #666666;
        &:hover {
          background-color: #5b5b5a;
          cursor: pointer;
        }
        &-ico {
          font-size: 24px;
          padding: 0 10px;
        }
        &-text {
          border-right: 1px solid white;
          padding: 0 10px;
          &-1 {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 3px;
          }
          &-2 {
            font-size: 13px;
          }

        }

      }


    }
    .col-right {
      position: relative;
      margin-top: 20px;
      padding: 0 30px 0 20px;
      width: $jumbo-col-right-w;
      height: calc(100% - 20px);
      background-color: $col-brand-1;
      .ico-money-back {
        position: absolute;
        right: 10px;
        top: 20px;
      }
      .wrap-price {
        margin-top: 50px;
        .lbl-price {
          color : $col-brand-5;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 8px;
        }
        .lbl-download {
          color: $col-brand-6;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 16px;
        }
        .btn {
          @include btn-def;
        }
        .btn:hover {
          background-color: #28acff;
        }
      }
      .wrap-offer {
        width: 100%;
        color: $col-brand-1;
        background-color: #e6e6e6;
        padding: 15px;
        margin-top: 40px;
        &:hover {
          cursor: pointer;
        }
        &:hover .offer-learn-more {
          text-decoration: underline;
          cursor: pointer;
        }
        h3 {
          margin-bottom: 5px;
        }
        .offer-free {
          font-size: 13px;
          // margin-bottom: 5px;
        }
        .offer-learn-more {
          font-size: 14px;
          color: $col-ico-btn;
          text-decoration: none;
        }
      }
    }
  }
}
