.sec-parallax-1 {
  background-image: url("../img/parallax-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
}
