// COLORS
$col-brand-1: #101010; //nero HEADER
$col-brand-2: #222222; //nero non saturo SECTION 3
$col-brand-3: #e6e6e6; //grigio chiaro  - FOOTER top
$col-brand-4: #009cff; // grigio scuro - FOOTER bottom
$col-brand-5: #fff; // bianco - SECTION 2
$col-brand-6: #989898; // grigio chiaro HEADER TOP + Download
$col-ico-btn: #009cff; // blu ico e btn header


// DIMENSIONS - sections
$wrap_width: 1200px;
$header-height: 600px;
$header-top-height: 40px;
$header-bottom-height: 55px;
$jumbo-height: 460px;
$jumbo-col-left-w: 45%;
$jumbo-col-right-w: 33%;
$footer-top-height: 300px;
$footer-bottom-height: 90px;

// DIMENSIONS - images
$img_big_width: 1050px;
$img_medium_width: 770px;
$img_small_width: 670px;
