$col-brand-1: #101010; //nero HEADER
$col-brand-2: #222222; //nero non saturo SECTION 3
$col-brand-3: #e6e6e6; //grigio chiaro  - FOOTER top
$col-brand-4: #009cff; // grigio scuro - FOOTER bottom
$col-ico-btn: #009cff; // blu ico e btn header

$wrap_width: 1280px;

$header-height: 600px;
$header-top-height: 35px;
$header-bottom-height: 65px;
$jumbo-height: 500px;
